{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        {% if is_granted('VIEW', tag) %}
                        <a class="btn btn-outline-primary" href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('EDIT', tag) %}
                            <a class="btn btn-outline-success" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', tag) %}
                            <a class="btn btn-outline-danger" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}